@import url(http://fonts.googleapis.com/css?family=Roboto);


*{
    
    font-family: 'Roboto', sans-serif;
}


body,html{
 
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
    
}

#header{
 
    width: 100%;
    height: 250px;
    background-color: #00BCD4;
    
}

#header > h1{
    
    padding: 0;
    margin: 0;
    color: #ffffff;
    line-height: 250px;
margin-left: 30px;
    
}

#wrapper{
    
    margin-left: auto;
    margin-right: auto;
    
    width: 500px;
    height: 700px;
}


.small{
 
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    width: 500px;
    height: 400px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    
    
}

